<div class="boxbackground">
<div class="box1">
About dialogo<br>
<br>
自分と言語が違う人とスムーズに話したい。言いたいことって<br>
この言語でなんて言ったらいいんだろう。そう思うことってあ<br>
りませんか？このサイトはそんなあなたのために作られまし<br>
た。ネイティブがフレーズを投稿し合える最高の環境で、ネイ<br>
ティブが話す、ネイティブに通用するフレーズにすぐに出会う<br>
ことができます。dialogoの最高の環境を活用して、ストレス<br>
フリーな会話生活を送りましょう！<br>
</div>
</div>
