// Place all the styles related to the alitzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  .aitzs-container{
    background-image: url("../assets/jisho.jpg");
   font-size: 20px;
  }
  .container p{
    position: absolute;
    height: 733px;
    width: 1440px;
    left: 0px;
    top: 291px;
    border-radius: 0px;

  }